<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/component/Avatars/styles.css" rel="stylesheet">
    <title>Avatar</title>
</head>

<body>
    <nav class="nav-container">
        <div class="nav-child">
            <a class="nav-content"><i class="nav-logo fas fa-igloo"></i></a>
            <h2 class="nav-content nav-logo-txt">roots</h2>
        </div>
        <div class="nav-child">
            <a class="nav-link nav-content">Installation</a>
            <a href="/component/Avatars/index.html" class="nav-link nav-content">Documentation</a>
        </div>
    </nav>
    <div class="nav-body scroll">
        <div class="nav-scroll">
            <h4 class="nav-heading"><a class="nav-a">Get Started</a></h4>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a">Introduction</a></li>
                <li class="nav-li"><a class="nav-a">Colors</a></li>
                <li class="nav-li"><a class="nav-a">Typography</a></li>
                <li class="nav-li"><a class="nav-a">Theming</a></li>
            </ul>
            <h4 class="nav-heading"><a class="nav-a">Components</a></h4>
            <ul class="nav-ul">
                <li class="nav-li"> <a href="" class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href= "/component/Alerts/index.html" class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="./component/Alerts/index.html " class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="./component/Alerts/index.html " class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="./component/Alerts/index.html " class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="./component/Alerts/index.html " class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="./component/Alerts/index.html " class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="./component/Alerts/index.html " class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="./component/Alerts/index.html " class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="./component/Alerts/index.html " class="nav-a ">Alerts</a></li>
            </ul>
        </div>
    </div>
    <div class="avatar-body">
        <h2 class="heading">Avatar</h2>
        <h5 class="avatar-content">Lorem Ipsum is simply dummy text of the printing andorem Ipsum has been the
            industry's standard du
            <span>let's get Started</span>
        </h5>
        <h4 class="avatar-subheading">> Classic Avatar</h4>
        <section class="avatar-classic-img-container">
            <img class="img-cs-xl" src="/images/avatar-img.png">
            <img class="img-cs-l" src="/images/avatar-img.png">
            <img class="img-cs-m" src="/images/avatar-img.png">
            <img class="img-cs-s" src="/images/avatar-img.png">
        </section>
        <section class="avatar-img-details">
            <h5 class="avatar-section-content">Extra-Large (10 rem)</h5>
            <h5 class="avatar-section-content">Large (8 rem)</h5>
            <h5 class="avatar-section-content">Medium (6 rem)</h5>
            <h5 class="avatar-section-content">Small (4 rem)</h5>
        </section>
        <div class="iframe-container">
            <code>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Csection%2520class%253D%2522avatar-classic-img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-cs-xl%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-cs-l%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-cs-m%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-cs-s%2522%2520src%253D%2522...%2522%253E%250A%253C%252Fsection%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </code>
        </div>
        <h4 class="avatar-subheading">> Squared Avatar</h4>
        <section class="avatar-squared-img-container">
            <img class="img-sq-xl" src="/images/avatar-img.png">
            <img class="img-sq-l" src="/images/avatar-img.png">
            <img class="img-sq-m" src="/images/avatar-img.png">
            <img class="img-sq-s" src="/images/avatar-img.png">
        </section>
        <section class="avatar-img-details">
            <h5 class="avatar-section-content">Extra-Large (10 rem)</h5>
            <h5 class="avatar-section-content">Large (8 rem)</h5>
            <h5 class="avatar-section-content">Medium (6 rem)</h5>
            <h5 class="avatar-section-content">Small (4 rem)</h5>
        </section>
        <div class="iframe-container">
            <code>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Csection%2520class%253D%2522avatar-squared-img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-sq-xl%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-sq-l%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-sq-m%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-sq-s%2522%2520src%253D%2522...%2522%253E%250A%253C%252Fsection%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </code>
        </div>
        
    </div>

    


</body>

</html>