<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/component/Avatars/styles.css" rel="stylesheet">
    <title>Avatar</title>
</head>

<body>

    <!-- NAVIGATION -->
    <nav class="nav-container">
        <div class="nav-child">
            <a class="nav-content"><i class="nav-logo fas fa-igloo"></i></a>
            <h2 class="nav-content nav-logo-txt">Roots</h2>
        </div>
        <div class="nav-child">
            <a href="/index.html" class="nav-link nav-content">Home</a>
            <a class="nav-link nav-content">Installation</a>
            <a href="/component/Avatars/index.html" class="nav-link nav-content">Documentation</a>
        </div>
    </nav>
    <div class="nav-body scroll">
        <div class="nav-scroll">
            <h4 class="nav-heading"><a class="nav-a">Get Started</a></h4>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a">Introduction</a></li>
                <li class="nav-li"><a class="nav-a">Colors</a></li>
                <li class="nav-li"><a class="nav-a">Typography</a></li>
                <li class="nav-li"><a class="nav-a">Theming</a></li>
            </ul>
            <h4 class="nav-heading"><a class="nav-a">Components</a></h4>
            <ul class="nav-ul">
                <li class="nav-li"> <a href="/component/Avatars/index.html" class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="/component/Alerts/index.html" class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="/component/Badges/index.html" class="nav-a ">Badges</a></li>
                <li class="nav-li"> <a href="/component/Buttons/index.html" class="nav-a ">Button</a></li>
                <li class="nav-li"> <a href="/component/Cards/index.html" class="nav-a ">Card</a></li>
                <li class="nav-li"> <a href="/component/Images/index.html" class="nav-a ">Image</a></li>
                <li class="nav-li"> <a href="/component/Input/index.html" class="nav-a ">Input</a></li>
            </ul>
        </div>
    </div>

    <!-- AVATAR BODY -->


    <div class="avatar-body">
        <h2 class="heading">Avatar</h2>
        <h5 class="avatar-content">Avatars are images that users can set as their profile picture. The avatars are of four sizes 
            extra-large (10 rem),
            large (8 rem),
            medium (6 rem),
            small (4 rem)</h5>

        <!-- ROUND AVATAR -->

        <h4 class="avatar-subheading">> Classic Avatar</h4>
        <h5 class="avatar-content">Classic Avatars shows your profile picture in round shape. As shown...</h5>
        <section class="avatar-rd-img-container">
            <img class="img-rd-xl" src="/images/avatar-img.png">
            <img class="img-rd-l" src="/images/avatar-img.png">
            <img class="img-rd-m" src="/images/avatar-img.png">
            <img class="img-rd-s" src="/images/avatar-img.png">
        </section>
        <section class="avatar-details">
            <h5 class="avatar-section-content">Extra-Large (10 rem)</h5>
            <h5 class="avatar-section-content">Large (8 rem)</h5>
            <h5 class="avatar-section-content">Medium (6 rem)</h5>
            <h5 class="avatar-section-content">Small (4 rem)</h5>
        </section>
        <div class="iframe-container">
            <code>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Csection%2520class%253D%2522avatar-classic-img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-cs-xl%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-cs-l%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-cs-m%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-cs-s%2522%2520src%253D%2522...%2522%253E%250A%253C%252Fsection%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </code>
        </div>

        <!-- SQUARED AVATAR -->


        <h4 class="avatar-subheading">> Squared Avatar</h4>
        <h5 class="avatar-content">Squared Avatars shows your profile picture in Squared shape. As shown...</h5>
        <section class="avatar-squared-img-container">
            <img class="img-sq-xl" src="/images/avatar-img.png">
            <img class="img-sq-l" src="/images/avatar-img.png">
            <img class="img-sq-m" src="/images/avatar-img.png">
            <img class="img-sq-s" src="/images/avatar-img.png">
        </section>
        <section class="avatar-details">
            <h5 class="avatar-section-content">Extra-Large (10 rem)</h5>
            <h5 class="avatar-section-content">Large (8 rem)</h5>
            <h5 class="avatar-section-content">Medium (6 rem)</h5>
            <h5 class="avatar-section-content">Small (4 rem)</h5>
        </section>
        <div class="iframe-container">
            <code>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Csection%2520class%253D%2522avatar-squared-img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-sq-xl%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-sq-l%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-sq-m%2522%2520src%253D%2522...%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-sq-s%2522%2520src%253D%2522...%2522%253E%250A%253C%252Fsection%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </code>
        </div>


        <!-- ROUND TEXT AVATAR -->


        <h4 class="avatar-subheading">> Round Text Avatar</h4>
        <h5 class="avatar-content">Round Text Avatars shows the initals of your name in Round shape. As shown...</h5>
        <section class="avatar-rd-txt-container">
            <div class="txt-rd txt-rd-xl"><h3>VM</h3></div>
            <div class="txt-rd txt-rd-l"><h3>VM</h3></div>
            <div class="txt-rd txt-rd-m"><h3>VM</h3></div>
            <div class="txt-rd txt-rd-s"><h3>VM</h3></div>
        </section>
        <section class="avatar-details">
            <h5 class="avatar-section-content">Extra-Large (10 rem)</h5>
            <h5 class="avatar-section-content">Large (8 rem)</h5>
            <h5 class="avatar-section-content">Medium (6 rem)</h5>
            <h5 class="avatar-section-content">Small (4 rem)</h5>
        </section>
        <div class="iframe-container">
            <code>
                <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Csection%2520class%253D%2522avatar-rd-txt-container%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522txt-rd%2520txt-rd-xl%2522%253E%253Ch3%253EVM%253C%252Fh3%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522txt-rd%2520txt-rd-l%2522%253E%253Ch3%253EVM%253C%252Fh3%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522txt-rd%2520txt-rd-m%2522%253E%253Ch3%253EVM%253C%252Fh3%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522txt-rd%2520txt-rd-s%2522%253E%253Ch3%253EVM%253C%252Fh3%253E%253C%252Fdiv%253E%250A%253C%252Fsection%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </code>
        </div>

        <!--  SQUARED TEXT AVATAR -->


        <h4 class="avatar-subheading">> Squared Text Avatar</h4>
        <h5 class="avatar-content">Squared Text Avatars shows the initals of your name in squared shape. As shown...</h5>
        <section class="avatar-sq-txt-container">
            <div class="txt-sq txt-sq-xl"><h3>VM</h3></div>
            <div class="txt-sq txt-sq-l"><h3>VM</h3></div>
            <div class="txt-sq txt-sq-m"><h3>VM</h3></div>
            <div class="txt-sq txt-sq-s"><h3>VM</h3></div>
        </section>
        <section class="avatar-details">
            <h5 class="avatar-section-content">Extra-Large (10 rem)</h5>
            <h5 class="avatar-section-content">Large (8 rem)</h5>
            <h5 class="avatar-section-content">Medium (6 rem)</h5>
            <h5 class="avatar-section-content">Small (4 rem)</h5>
        </section>
        <div class="iframe-container">
            <code>
                <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Csection%2520class%253D%2522avatar-sq-txt-container%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522txt-sq%2520txt-sq-xl%2522%253E%253Ch3%253EVM%253C%252Fh3%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522txt-sq%2520txt-sq-l%2522%253E%253Ch3%253EVM%253C%252Fh3%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522txt-sq%2520txt-sq-m%2522%253E%253Ch3%253EVM%253C%252Fh3%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522txt-sq%2520txt-sq-s%2522%253E%253Ch3%253EVM%253C%252Fh3%253E%253C%252Fdiv%253E%250A%253C%252Fsection%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </code>
        </div>
    </div>






</body>

</html>