@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* @import url(/styles/avatar-alerts.css);
@import url(/styles/nav.css); */
@import url(/styles/styles-global/root.css);

.header-body{
   position: relative;
   display: block;
   width: 100%;
}
.nav-container{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-matte-color);
    grid-area: header;
}

.nav-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.nav-content{
    padding: 0 1rem;
}

.nav-logo{
    margin-top: 2rem;
    padding-right: 1.5rem;
    font-size: 2rem;
    color: var(--white-color);
    
}

.nav-logo-txt{
    font-family: var(--font-family-logo);
    color: var(--white-color);
    font-size: 2rem;
}
.nav-link{
    font-size: x-large;
    font-weight: 500;
    padding-top: 1.25rem;
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;

}

.nav-link:active{
    color: var(--secondary-light-color);
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 5rem;
    font-family: var(--font-family-content);
    
}

.body-content{

}

.body-content span{
    color: var(--primary-color);
}


.body-logo{
    font-size: 20rem;
    color: var(--primary-light-color);
}

.btn{
    margin: 3rem 1rem;
}

.btn-primary{
    margin-right: 1rem;
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--grey-color);
    border: none;
    font-size: large;
    cursor: pointer;
    
}

.btn-primary:hover{
    background-color: var(--primary-light-color);
}
.btn-primary:active{
    background-color: var(--primary-light-color);
    box-shadow: 1px 2px #666;

}


.btn-secondary{
    margin-right: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    color: var(--black-color);
    border: none;
    font-size: large;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.btn-secondary:hover{
    background-color: var(--primary-vlight-color);
}

.btn-secondary:active{
    background-color: var(--primary-vlight-color);
    box-shadow: 1px 2px #666;

}