<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/component/Input/styles.css" rel="stylesheet">
    <title>Input</title>
</head>

<body>

    <!-- NAVIGATION -->
    <nav class="nav-container">
        <div class="nav-child">
            <a class="nav-content"><i class="nav-logo fas fa-spa"></i></a>
            <h2 class="nav-content nav-logo-txt">Roots</h2>
        </div>
        <div class="nav-child">
            <a href="/index.html" class="nav-link nav-content">Home</a>
            <a class="nav-link nav-content">Installation</a>
            <a href="/component/Avatars/index.html" class="nav-link nav-content">Documentation</a>
        </div>
    </nav>
    <div class="nav-body scroll">
        <div class="nav-scroll">
            <h4 class="nav-heading">Get Started</h4>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a">Introduction</a></li>
                <li class="nav-li"><a class="nav-a">Colors</a></li>
                <li class="nav-li"><a class="nav-a">Typography</a></li>
                <li class="nav-li"><a class="nav-a">Theming</a></li>
            </ul>
            <h4 class="nav-heading">Components</h4>
            <ul class="nav-ul">
                <li class="nav-li"> <a href="/component/Avatars/index.html" class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="/component/Alerts/index.html" class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="/component/Badges/index.html" class="nav-a ">Badges</a></li>
                <li class="nav-li"> <a href="/component/Buttons/index.html" class="nav-a ">Button</a></li>
                <li class="nav-li"> <a href="/component/Cards/index.html" class="nav-a ">Card</a></li>
                <li class="nav-li"> <a href="/component/Images/index.html" class="nav-a ">Image</a></li>
                <li class="nav-li"> <a href="/component/Input/index.html" class="nav-a ">Input</a></li>
                <li class="nav-li"> <a href="/component/Text-Utilities/index.html" class="nav-a ">Text-Utilities</a></li>
                <li class="nav-li"> <a href="/component/Lists/index.html" class="nav-a ">Lists</a></li>
                <li class="nav-li"> <a href="/component/Rating/index.html" class="nav-a ">Rating</a></li>
                <li class="nav-li"> <a href="/component/Grids/index.html" class="nav-a ">Grids</a></li>
                <li class="nav-li"> <a href="/component/Modal/index.html" class="nav-a ">Modal</a></li>
                <li class="nav-li"> <a href="/component/Navigation/index.html" class="nav-a ">Navigation</a></li>
            </ul>
        </div>
    </div>

    <!-- INPUT BODY -->


    <div class="component-body">
        <h2 class="component-heading">Input</h2>
        <h5 class="component-content"></h5>


            <h4 class="component-subheading">> Input Box </h4>
            <h5 class="component-content"> Enter email, username, password</h5>
            <div class="container">
                <div class="in-container">
                    <label class="in-label">Email ID</label>
                    <input type="email" placeholder="enter email id" class="input">
                    <label class="in-label">User Name</label>
                    <input type="text" placeholder="enter user name" class="input">
                    <label class="in-label">Password</label>
                    <input type="password" placeholder="enter password" class="input">
                    <label class="in-label">Password</label>
                    <input type="password" placeholder="enter password again" class="input in-error">
                    <label class="in-label-error">Try Again</label>
                </div>
            </div>

            <!-- TEXTBOX -->
            <h4 class="component-subheading">> Text Box </h4>
            <h5 class="component-content">Classic Avatars shows your profile picture in round shape. As shown...</h5>
            <div class="container">
                <div class="in-container">
                    <textarea class="ip-textarea" placeholder="Write your Review here..."></textarea>
                    <div class="ip-textarea-footer">
                    </div>
                </div>
                
            </div>
    </div>






</body>

</html>