@import url('/component/NavBar-Vertical/styles.css');
@import url('/styles/styles-global/root.css');
@import url('/styles.css');

.container{
    display: block;
}


/*  */

.ip-textarea{
    padding: 2rem;
    margin: 1rem;
    width: 80%;
    height: 10rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight: 400;
}

.in-container{
    padding:1rem;
    border-radius: 1px;
    background-color: var(--primary-vlight-color);
    display: flex;
    flex-direction: column;
}

.input{
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
    width: 15rem;
}

.in-error{
    border-color: red;
    margin-bottom: 0px;
}

.in-label-error{
    color: red;
    font-size: small;
    margin: 3px 0px;
}

/* BUTTONS */
.btn-standard{
    padding: 0.5rem 1.5rem;
    font-weight: var(--content-weight);
    font-size: var(--content-size);
    border-radius: 0.5rem;
    margin: 5px;
}
