<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/component/Inputs/styles.css" rel="stylesheet">
    <title>Avatar</title>
</head>

<body>

    <!-- NAVIGATION -->
    <nav class="nav-container">
        <div class="nav-child">
            <a class="nav-content"><i class="nav-logo fas fa-igloo"></i></a>
            <h2 class="nav-content nav-logo-txt">Roots</h2>
        </div>
        <div class="nav-child">
            <a href="/index.html" class="nav-link nav-content">Home</a>
            <a class="nav-link nav-content">Installation</a>
            <a href="/component/Avatars/index.html" class="nav-link nav-content">Documentation</a>
        </div>
    </nav>
    <div class="nav-body scroll">
        <div class="nav-scroll">
            <h4 class="nav-heading"><a class="nav-a">Get Started</a></h4>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a">Introduction</a></li>
                <li class="nav-li"><a class="nav-a">Colors</a></li>
                <li class="nav-li"><a class="nav-a">Typography</a></li>
                <li class="nav-li"><a class="nav-a">Theming</a></li>
            </ul>
            <h4 class="nav-heading"><a class="nav-a">Components</a></h4>
            <ul class="nav-ul">
                <li class="nav-li"> <a href="/component/Avatars/index.html" class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="/component/Alerts/index.html" class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="/component/Badges/index.html" class="nav-a ">Badges</a></li>
                <li class="nav-li"> <a href="/component/Buttons/index.html" class="nav-a ">Button</a></li>
                <li class="nav-li"> <a href="/component/Cards/index.html" class="nav-a ">Card</a></li>
                <li class="nav-li"> <a href="/component/Images/index.html" class="nav-a ">Image</a></li>
                <li class="nav-li"> <a href="/component/Input/index.html" class="nav-a ">Input</a></li>
            </ul>
        </div>
    </div>

    <!-- INPUT BODY -->


    <div class="input-body">
        <h2 class="heading">Input</h2>
        <h5 class="ip-content">Avatars are images that users can set as their profile picture. The avatars are of four sizes 
            extra-large (10 rem),
            large (8 rem),
            medium (6 rem),
            small (4 rem)</h5>


            <h4 class="ip-subheading">> Credentials Box </h4>
            <h5 class="ip-content">Classic Avatars shows your profile picture in round shape. As shown...</h5>
            <div class="container">
                <div>
                    <textarea class="ip-textarea" placeholder="Write your Review here..."></textarea>
                </div>
            </div>


            <h4 class="ip-subheading">> Text Box </h4>
            <h5 class="ip-content">Classic Avatars shows your profile picture in round shape. As shown...</h5>
            <div class="container">
                <div>
                    <textarea class="ip-textarea" placeholder="Write your Review here..."></textarea>
                    <div class="ip-textarea-footer">
                        <button class="btn-standard btn-std-primary">SUBMIT</button>
                    </div>
                </div>
                
            </div>
    </div>






</body>

</html>