<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c8ee3dd930.js"></script>
    <link href="/component/Cards/styles.css" rel="stylesheet">
    <title>Cards</title>
</head>

<body>
    <nav class="nav-container">
        <div class="nav-child">
            <a class="nav-content"><i class="nav-logo fas fa-spa"></i></a>
            <h2 class="nav-content nav-logo-txt">Roots</h2>
        </div>
        <div class="nav-child">
            <a href="/index.html" class="nav-link nav-content">Home</a>
            <a href="/install/index.html" class="nav-link nav-content">Installation</a>
            <a href="/component/Avatars/index.html" class="nav-link nav-content">Documentation</a>
        </div>
    </nav>
    <aside class="nav-body scroll">
        <div class="nav-scroll">
            <h4 class="nav-heading">Get Started</h4>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a">Introduction</a></li>
                <li class="nav-li"><a class="nav-a">Colors</a></li>
                <li class="nav-li"><a class="nav-a">Typography</a></li>
                <li class="nav-li"><a class="nav-a">Theming</a></li>
            </ul>
            <h4 class="nav-heading">Components</h4>
            <ul class="nav-ul">
                <li class="nav-li"> <a href="/component/Avatars/index.html" class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="/component/Alerts/index.html" class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="/component/Badges/index.html" class="nav-a ">Badges</a></li>
                <li class="nav-li"> <a href="/component/Buttons/index.html" class="nav-a ">Button</a></li>
                <li class="nav-li"> <a href="/component/Cards/index.html" class="nav-a ">Card</a></li>
                <li class="nav-li"> <a href="/component/Images/index.html" class="nav-a ">Image</a></li>
                <li class="nav-li"> <a href="/component/Input/index.html" class="nav-a ">Input</a></li>
                <li class="nav-li"> <a href="/component/Text-Utilities/index.html" class="nav-a ">Text-Utilities</a>
                </li>
                <li class="nav-li"> <a href="/component/Lists/index.html" class="nav-a ">Lists</a></li>
                <li class="nav-li"> <a href="/component/Rating/index.html" class="nav-a ">Rating</a></li>
                <li class="nav-li"> <a href="/component/Grids/index.html" class="nav-a ">Grids</a></li>
                <li class="nav-li"> <a href="/component/Modal/index.html" class="nav-a ">Modal</a></li>
                <li class="nav-li"> <a href="/component/Navigation/index.html" class="nav-a ">Navigation</a></li>
            </ul>
        </div>
    </aside>
    <div class="component-body">
        <h2 class="component-heading">Cards</h2>
        <h5 class="component-content">The card component can contain a variety of content, including a heading, image,
            content, buttons etc.
        </h5>

        <!-- CARD BASIC WITH RIBBON-BADGE -->
        <h4 class="component-subheading">> Basic Card with Badge</h4>
        <div class="card-align">
            <div class="card-basic ">
                <div class="card-txt-container">
                    <div class="ribbon">
                        <span class="ribbon__content">FRESH ARRIVAL</span>
                    </div>
                    <img alt="card-img-headphone" class="basic-img" src="/images/headphones.jpg">
                    <div class="txt-margin">
                        <div>
                            <h2 class="card-heading">Headphones</h2>
                            <h3 class="card-subheading">Rs. 9,600 <span class="card-txt-red">Rs. 15,999 </span><span
                                    class="card-txt-secondary">(40% OFF)</span> </h3>
                        </div>
                        <p class="tu-gray">xxxxx
                        </p>
                    </div>

                </div>
                <div class="btn-container">
                    <div class="btn-standard-container">
                        <button class="btn-rect btn-std-primary">Read</button>
                        <button class="btn-rect btn-out-secondary">Bookmark</button>
                    </div>
                    <div class="icon-padding">
                        <button class="btn-icon btn-icon-primary"><i class="fas fa-shopping-cart"></i></button>
                        <button class="btn-icon btn-icon-primary"><i class="far fa-heart"></i></button>
                    </div>
                </div>
            </div>

        </div>

        <!-- HEADER CARD WITH BADGE -->

        <h4 class="component-subheading">> Header Card with Badge</h4>

        <div class="card-align">
            <div class="card-header-badge">

                <div class="card-txt-container txt-margin">
                    <div>
                        <h6 class="badge-upper">Sale 40% off</h6>
                    </div>
                    <div>
                        <h2 class="card-heading">Headphones</h2>
                        <h3 class="card-subheading">Rs. 9,600 <span class="card-txt-red">Rs. 15,999 </span>
                            <span class="card-txt-secondary">(40% OFF)</span> </h3>
                    </div>
                    <img alt="card-img-headphone" class="header-img" src="/images/headphones.jpg">
                    <div class="header-text-margin">

                        <p class="tu-gray">xxxxx
                        </p>
                    </div>
                </div>
                <div class="btn-container">
                    <div class="btn-standard-container">
                        <button class="btn-rect btn-std-primary">Read</button>
                        <button class="btn-rect btn-out-secondary">Bookmark</button>
                    </div>
                    <div class="icon-padding">
                        <button class="btn-icon btn-icon-primary"><i class="fas fa-shopping-cart"></i></button>
                        <button class="btn-icon btn-icon-primary"><i class="far fa-heart"></i></button>
                    </div>
                </div>

            </div>

        </div>
        <!-- HEADER CARD -->

        <h4 class="component-subheading">> Header Card</h4>

        <div class="card-align">
            <div class="card-header">

                <div class="card-txt-container txt-margin">
                    <div>
                        <h2 class="card-heading">Headphones</h2>
                        <h3 class="card-subheading">Rs. 9,600 <span class="card-txt-red">Rs. 15,999 </span>
                            <span class="card-txt-secondary">(40% OFF)</span> </h3>
                    </div>
                    <img alt="card-img-headphone" class="header-img" src="/images/headphones.jpg">
                    <div class="header-text-margin">

                        <p class="tu-gray">xxxxx
                        </p>
                    </div>
                </div>
                <div class="btn-container">
                    <div class="btn-standard-container">
                        <button class="btn-rect btn-std-primary">Read</button>
                        <button class="btn-rect btn-out-secondary">Bookmark</button>
                    </div>
                    <div class="icon-padding">
                        <button class="btn-icon btn-icon-primary"><i class="fas fa-shopping-cart"></i></button>
                        <button class="btn-icon btn-icon-primary"><i class="far fa-heart"></i></button>
                    </div>
                </div>

            </div>
        </div>
        <h4 class="component-subheading">> Horizontal Card</h4>


        <!-- HORIZONTAL IMAGE -->

        <div class="card-align">
            <div class="card-horiz">
                <div class="horiz-align">
                    <img alt="card-img-headphone" class="horiz-img" src="/images/headphones.jpg">

                    <div class="txt-margin">
                        <h2 class="card-heading">Headphones</h2>
                        <h3 class="card-subheading">Rs. 9,600 <span class="card-txt-red">Rs. 15,999 </span>
                            <span class="card-txt-secondary">(40% OFF)</span></h3>
                    </div>
                </div>
                <div class="btn-container">
                    <div class="btn-standard-container">
                        <button class="btn-rect btn-std-primary">Read</button>
                        <button class="btn-rect btn-out-secondary">Bookmark</button>
                    </div>
                    <div class="icon-padding">
                        <button class="btn-icon btn-icon-primary"><i class="fas fa-shopping-cart"></i></button>
                        <button class="btn-icon btn-icon-primary"><i class="far fa-heart"></i></button>
                    </div>
                </div>

            </div>
        </div>

        <h4 class="component-subheading">> Text-Overlay Card</h4>

        <!-- CARD TEXT-OVERLAY -->

        <div class="card-align">
            <div class="card-basic ">
                <div class="card-txt-overlay">
                    <div class="centered">Out Of Stock</div>
                </div>
                <div class="card-txt-container">
                    <img alt="card-img-headphone" class="basic-img" src="/images/headphones.jpg">
                    <div class="txt-margin">
                        <div>
                            <h2 class="card-heading">Headphones</h2>
                            <h3 class="card-subheading">Rs. 9,600 <span class="card-txt-red">Rs. 15,999 </span><span
                                    class="card-txt-secondary">(40% OFF)</span> </h3>
                        </div>
                        <p class="tu-gray">xxxxx
                        </p>
                    </div>

                </div>
                <div class="btn-container">
                    <div class="btn-standard-container">
                        <button class="btn-rect btn-std-primary">Read</button>
                        <button class="btn-rect btn-out-secondary">Bookmark</button>
                    </div>
                    <div class="icon-padding">
                        <button class="btn-icon btn-icon-primary"><i class="fas fa-shopping-cart"></i></button>
                        <button class="btn-icon btn-icon-primary"><i class="far fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>