@import url('/styles/styles-global/root.css');

.nav-body {
    position: absolute;
    grid-area: nav;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 12rem;
    height: auto;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.nav-heading {
    margin: 0%;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--primary-color);
}

.nav-ul {
    padding: 0rem;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    width: 200px;
    display: block;
}
.nav-li {
    padding: 4px 0rem;
    color: var(--black-color);
}
.nav-a {
    cursor: pointer;
    text-decoration: none;
    color: var(--black-color);
    display: block;
    padding: 3px;
}
.nav-a:active {
    font-weight: 600;
    background-color: var(--background-color);
    color: var(--black-color);
}