<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/component/Text-Utilities/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c8ee3dd930.js"></script>
    <title>Text Utilities</title>
</head>

<body>

    <!-- NAVIGATION -->
    <nav class="nav-container">
        <div class="nav-child">
            <a class="nav-content"><i class="nav-logo fas fa-spa"></i></a>
            <h2 class="nav-content nav-logo-txt">Roots</h2>
        </div>
        <div class="nav-child">
            <a href="/index.html" class="nav-link nav-content">Home</a>
            <a href="/install/index.html" class="nav-link nav-content">Installation</a>
            <a href="/component/Avatars/index.html" class="nav-link nav-content">Documentation</a>
        </div>
    </nav>
    <aside class="nav-body scroll">
        <div class="nav-scroll">
            <h4 class="nav-heading">Get Started</h4>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a">Introduction</a></li>
                <li class="nav-li"><a class="nav-a">Colors</a></li>
                <li class="nav-li"><a class="nav-a">Typography</a></li>
                <li class="nav-li"><a class="nav-a">Theming</a></li>
            </ul>
            <h4 class="nav-heading">Components</h4>
            <ul class="nav-ul">
                <li class="nav-li"> <a href="/component/Avatars/index.html" class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="/component/Alerts/index.html" class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="/component/Badges/index.html" class="nav-a ">Badges</a></li>
                <li class="nav-li"> <a href="/component/Buttons/index.html" class="nav-a ">Button</a></li>
                <li class="nav-li"> <a href="/component/Cards/index.html" class="nav-a ">Card</a></li>
                <li class="nav-li"> <a href="/component/Images/index.html" class="nav-a ">Image</a></li>
                <li class="nav-li"> <a href="/component/Input/index.html" class="nav-a ">Input</a></li>
                <li class="nav-li"> <a href="/component/Text-Utilities/index.html" class="nav-a ">Text-Utilities</a>
                </li>
                <li class="nav-li"> <a href="/component/Lists/index.html" class="nav-a ">Lists</a></li>
                <li class="nav-li"> <a href="/component/Rating/index.html" class="nav-a ">Rating</a></li>
                <li class="nav-li"> <a href="/component/Grids/index.html" class="nav-a ">Grids</a></li>
                <li class="nav-li"> <a href="/component/Modal/index.html" class="nav-a ">Modal</a></li>
                <li class="nav-li"> <a href="/component/Navigation/index.html" class="nav-a ">Navigation</a></li>
            </ul>
        </div>
    </aside>

    <!-- TEXT UTILITIES BODY -->

    <div class="component-body">
        <h2 class="component-heading">Text Utilities</h2>
        <h5 class="component-content">Text Utilities can be used to manipulate the text content of a website.</h5>


        <h4 class="component-subheading">> Text Size</h4>
        <h5 class="component-content"> Different heading and text size.</h5>
        <div class="container">
            <div class="tu-container">
                <h1 class="component-heading">Hello! This is Heading 1</h1>
                <h2 class="component-subheading">Hello! This is Heading 2</h2>
                <h3>Hello! This is Heading 3</h3>
                <h4>Hello! This is Heading 4</h4>
                <h5>Hello! This is Heading 5</h5>
                <h6>Hello! This is Heading 6</h6>
            </div>
        </div>

        <div class="iframe-container">
            <code>

                <iframe class="iframe"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522tu-container%2522%253E%250A%2520%2520%2520%2520%253Ch1%2520class%253D%2522component-heading%2522%253EHello%21%2520This%2520is%2520Heading%25201%253C%252Fh1%253E%250A%2520%2520%2520%2520%253Ch2%2520class%253D%2522component-subheading%2522%253EHello%21%2520This%2520is%2520Heading%25202%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Ch3%253EHello%21%2520This%2520is%2520Heading%25203%253C%252Fh3%253E%250A%2520%2520%2520%2520%253Ch4%253EHello%21%2520This%2520is%2520Heading%25204%253C%252Fh4%253E%250A%2520%2520%2520%2520%253Ch5%253EHello%21%2520This%2520is%2520Heading%25205%253C%252Fh5%253E%250A%2520%2520%2520%2520%253Ch6%253EHello%21%2520This%2520is%2520Heading%25206%253C%252Fh6%253E%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </code>
        </div>

        <!-- COLORED TEXT -->
        <h4 class="component-subheading">> Colored Text </h4>
        <h5 class="component-content">Different coloured text are used for differnt purposes.</h5>
        <div class="container">
            <div class="tu-container">
                <h2>Hello! This is Normal Text</h2>
                <h2 class="tu-gray">Hello! This is Gray Text</h2>
                <h2 class="tu-danger">Hello! This is Danger Text</h2>
            </div>
        </div>

        <div class="iframe-container">
            <code>

                <iframe class="iframe"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522tu-container%2522%253E%250A%2520%2520%2520%2520%253Ch2%253EHello%21%2520This%2520is%2520Normal%2520Text%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Ch2%2520class%253D%2522tu-gray%2522%253EHello%21%2520This%2520is%2520Gray%2520Text%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Ch2%2520class%253D%2522tu-danger%2522%253EHello%21%2520This%2520is%2520Danger%2520Text%253C%252Fh2%253E%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </code>
        </div>

        <!-- ALIGN TEXT -->

        <h4 class="component-subheading">> Align Text </h4>
        <h5 class="component-content">Used to change alignment of the text content.</h5>
        <div class="container-align">
            <div class="tu-container">
                <h2 class="tu-left">Hello! This is Left Aligned Text</h2>
                <h2 class="tu-center">Hello! This is Center Aligned Text</h2>
                <h2 class="tu-right">Hello! This is Right Aligned Text</h2>
            </div>
        </div>

        <div class="iframe-container">
            <code>

                <iframe class="iframe"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522container-align%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522tu-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch2%2520class%253D%2522tu-left%2522%253EHello%21%2520This%2520is%2520Left%2520Aligned%2520Text%253C%252Fh2%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch2%2520class%253D%2522tu-center%2522%253EHello%21%2520This%2520is%2520Center%2520Aligned%2520Text%253C%252Fh2%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch2%2520class%253D%2522tu-right%2522%253EHello%21%2520This%2520is%2520Right%2520Aligned%2520Text%253C%252Fh2%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </code>
        </div>

    </div>






</body>

</html>