@import url('/component/NavBar-Vertical/styles.css');
@import url('/styles/styles-global/root.css');
@import url('/styles.css');
@import url('/component/Buttons/styles.css');


:root{
    --alert-success-color: #b7e1b4;
    --alert-info-primary-color: #9999ff;
    --alert-info-secondary-color: #ffdec5;
    --alert-error-color: #f8c1c1;
    --alert-warning-color: #f8f6c4;
}



.alt-ty-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 10px;
    align-items: center;
    background-color: var(--primary-vlight-color);
    padding: 1rem 0rem;
}   

.alt-child{
    width: 60%;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alert-suc{
    background-color: var(--alert-success-color);
    
}

.alert-p-info{
    background-color: var(--alert-info-primary-color);
}

.alert-s-info{
    background-color: var(--alert-info-secondary-color);
}


.alert-warn{
    background-color: var(--alert-warning-color);
}

.alert-err{
    background-color: var(--alert-error-color);
}

.btn-icon{
    padding: 0rem;
    border: none;
    margin: 0rem;
    background-color: transparent;
    font-size: 1.5rem;

}


