<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/component/Grids/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c8ee3dd930.js"></script>

    <title>Grid</title>
</head>

<body>

    <!-- NAVIGATION -->
    <nav class="nav-container">
        <div class="nav-child">
            <a class="nav-content"><i class="nav-logo fas fa-spa"></i></a>
            <h2 class="nav-content nav-logo-txt">Roots</h2>
        </div>
        <div class="nav-child">
            <a href="/index.html" class="nav-link nav-content">Home</a>
            <a href="/install/index.html" class="nav-link nav-content">Installation</a>
            <a href="/component/Avatars/index.html" class="nav-link nav-content">Documentation</a>
        </div>
    </nav>
    <aside class="nav-body scroll">
        <div class="nav-scroll">
            <h4 class="nav-heading">Get Started</h4>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a">Introduction</a></li>
                <li class="nav-li"><a class="nav-a">Colors</a></li>
                <li class="nav-li"><a class="nav-a">Typography</a></li>
                <li class="nav-li"><a class="nav-a">Theming</a></li>
            </ul>
            <h4 class="nav-heading">Components</h4>
            <ul class="nav-ul">
                <li class="nav-li"> <a href="/component/Avatars/index.html" class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="/component/Alerts/index.html" class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="/component/Badges/index.html" class="nav-a ">Badges</a></li>
                <li class="nav-li"> <a href="/component/Buttons/index.html" class="nav-a ">Button</a></li>
                <li class="nav-li"> <a href="/component/Cards/index.html" class="nav-a ">Card</a></li>
                <li class="nav-li"> <a href="/component/Images/index.html" class="nav-a ">Image</a></li>
                <li class="nav-li"> <a href="/component/Input/index.html" class="nav-a ">Input</a></li>
                <li class="nav-li"> <a href="/component/Text-Utilities/index.html" class="nav-a ">Text-Utilities</a>
                </li>
                <li class="nav-li"> <a href="/component/Lists/index.html" class="nav-a ">Lists</a></li>
                <li class="nav-li"> <a href="/component/Rating/index.html" class="nav-a ">Rating</a></li>
                <li class="nav-li"> <a href="/component/Grids/index.html" class="nav-a ">Grids</a></li>
                <li class="nav-li"> <a href="/component/Modal/index.html" class="nav-a ">Modal</a></li>
                <li class="nav-li"> <a href="/component/Navigation/index.html" class="nav-a ">Navigation</a></li>
            </ul>
        </div>
    </aside>

    <!-- GRID BODY -->


    <div class="component-body">
        <h2 class="component-heading">Grids</h2>
        <h5 class="component-content">Grid system uses a series of containers, rows, and columns to layout and align content.</h5>


        <!-- GRID 2 COLUMN -->
        <h4 class="component-subheading">> Grid with two column </h4>
        <div class="container">
            <div class="grid-two">
                <div class="grid-box"></div>
                <div class="grid-box"></div>
            </div>
        </div>
        <div class="iframe-container">
            <code>
                <iframe class="iframe"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=50px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-two%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-box%2522%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-box%2522%253E%253C%252Fdiv%253E%2520%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </code>
        </div>

        <!-- GRID 3 COLUMN -->

        <h4 class="component-subheading">> Grid with three column </h4>
        <div class="container">
            <div class="grid-three">
                <div class="grid-box"></div>
                <div class="grid-box"></div>
                <div class="grid-box"></div>
            </div>
        </div>
        <div class="iframe-container">
            <code>
                <iframe class="iframe"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=50px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-three%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-box%2522%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-box%2522%253E%253C%252Fdiv%253E%2520%250A%2520%2520%253Cdiv%2520class%253D%2522grid-box%2522%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </code>
        </div>

        <!-- GRID 2 SIDEBARS AND MAIN -->

        <h4 class="component-subheading">> Grid with Sidebar-Main-Sidebar </h4>
        <div class="container">
            <div class="grid-sidebar-main-sidebar">
                <div class="sidebar"></div>
                <div class="main"></div>
                <div class="sidebar"></div>
            </div>
        </div>
        <div class="iframe-container">
            <code>
                <iframe class="iframe"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C222%2C197%2C1%29&t=nord&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=50px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-sidebar-main-sidebar%2522%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522sidebar%2522%253E%253C%252Fdiv%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522main%2522%253E%253C%252Fdiv%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522sidebar%2522%253E%253C%252Fdiv%253E%2520%250A%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </code>
        </div>
    </div>
</body>

</html>
