<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/component/Images/styles.css" rel="stylesheet">
    <title>Alerts</title>
</head>

<body>

    <!-- NAVIGATION BODY -->
    <nav class="nav-container">
        <div class="nav-child">
            <a class="nav-content"><i class="nav-logo fas fa-igloo"></i></a>
            <h2 class="nav-content nav-logo-txt">Roots</h2>
        </div>
        <div class="nav-child">
            <a href="/index.html" class="nav-link nav-content">Home</a>
            <a class="nav-link nav-content">Installation</a>
            <a href="/component/Avatars/index.html" class="nav-link nav-content">Documentation</a>
        </div>
    </nav>
    <div class="nav-body scroll">
        <div class="nav-scroll">
            <h4 class="nav-heading"><a class="nav-a">Get Started</a></h4>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a">Introduction</a></li>
                <li class="nav-li"><a class="nav-a">Colors</a></li>
                <li class="nav-li"><a class="nav-a">Typography</a></li>
                <li class="nav-li"><a class="nav-a">Theming</a></li>
            </ul>
            <h4 class="nav-heading"><a class="nav-a">Components</a></h4>
            <ul class="nav-ul">
                <li class="nav-li"> <a href="/component/Avatars/index.html" class="nav-a ">Avatar</a></li>
                <li class="nav-li"> <a href="/component/Alerts/index.html" class="nav-a ">Alerts</a></li>
                <li class="nav-li"> <a href="/component/Badges/index.html" class="nav-a ">Badges</a></li>
                <li class="nav-li"> <a href="/component/Buttons/index.html" class="nav-a ">Button</a></li>
                <li class="nav-li"> <a href="/component/Cards/index.html" class="nav-a ">Card</a></li>
                <li class="nav-li"> <a href="/component/Images/index.html" class="nav-a ">Image</a></li>
                <li class="nav-li"> <a href="/component/Inputs/index.html" class="nav-a ">Input</a></li>
            </ul>
        </div>
    </div>

    <!-- IMAGE BODY -->
    <div>
        <div class="image-body">
            <h2 class="heading">Images</h2>
            <h5 class="img-content">The alert box takes the focus away from the current window, and forces the user to
                read the message. Generally, red alert indicates error, green for success and yellow for warning. In
                addition we have Blue and Orange information alerts.
            </h5>
            <h4 class="img-subheading">> Standard Image</h4>
            <h5 class="img-content">Classic Avatars shows your profile picture in round shape. As shown...</h5>

            <div class="img-container container">
                <img class="img-responsive img-rect" src="/images/responsiveImg.jpg">
            </div>
            <h4 class="img-subheading">> Round Image</h4>
            <h5 class="img-content">Classic Avatars shows your profile picture in round shape. As shown...</h5>


            <div class="img-container container">
                <img class="img-responsive img-round" src="/images/responsiveImg.jpg">
            </div>

            <div class="iframe-container">
                <code>

                </code>
            </div>
        </div>
    </div>
</body>

</html>