@import url('/component/NavBar-Vertical/styles.css');
@import url('/styles/styles-global/root.css');
@import url('/styles.css');



.img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.img-responsive{
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
    
}

.img-rect{
    object-position: top;
}

.img-round{
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-position: bottom;
}