@import url('/component/NavBar-Vertical/styles.css');
@import url('/styles/styles-global/root.css');
@import url('/styles.css');

:root{
    --delete-color: red;
    --delete-light-color: #f8c1c1;
}


/* STANDARD BUTTON */

.btn-rect{
    padding: 1rem 2rem;
    font-weight: var(--content-weight);
    font-size: var(--content-size);
    border-radius: 0.5rem;
    margin: 1rem;
}

.btn-std-primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-std-secondary{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.btn-std-delete{
    background-color: var(--delete-color);
    color: var(--white-color);
}

.btn-standard:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }


/* OUTLINE BUTTON */





.btn-out-primary{
    background-color: var(--primary-vlight-color);
    border-color: var(--primary-color);

}

.btn-out-secondary{
    background-color: var(--secondary-light-color);
    border-color: var(--secondary-color);
}

.btn-out-delete{
    border-color: var(--delete-color);
    background-color: var(--delete-light-color);
}

.btn-outline:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }

/* LINK BUTTON */


.btn-link{
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    font-size: larger
}

.btn-link-primary{
    color: var(--primary-color);
    border-color: var(--primary-color);

}

.btn-link-secondary{
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-link:hover {
    box-shadow: #666;
    transform: scale(1.05);
 }

/* FLOATING ACTION BUTTON */


.btn-fa{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 1rem;

}

.btn-fa-primary{
    background-color: var(--primary-color);
    color: var(--white-color);   
    font-size: larger; 

}

.btn-fa-secondary{
    background-color: var(--secondary-color);
    color: var(--white-color);  
    font-size: larger;   
}

.btn-fa-outline-primary{
    background-color: var(--primary-vlight-color);
    border-color: var(--primary-color);
    font-size: larger; 
}

.btn-fa-outline-secondary{
    background-color: var(--secondary-light-color);
    border-color: var(--secondary-color);    
    font-size: larger; 
}

.btn-fa:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }


 /* ICONS */

 .btn-icon{
     padding: 1rem;
     border: none;
     margin: 1rem;
     background-color: transparent;
     font-size: 2rem;
 }

 .btn-icon-primary{
    color: var(--primary-color);
 }
 .btn-icon-secondary{
    color: var(--secondary-color);
}
.btn-icon-delete{
    color: var(--delete-color);
}
.btn-icon:hover {
    box-shadow: 0 #666;
    transform: scale(1.25);
 }





