@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=Yellowtail&display=swap');
@import url('https://kit.fontawesome.com/c8ee3dd930.js');

@import url('/component/Avatars/styles.css');
@import url('/component/Alerts/styles.css');
@import url('/component/Badges/styles.css');
@import url('/component/Buttons/styles.css');
@import url('/component/Cards/styles.css');
@import url('/component/Images/styles.css');
@import url('/component/Input/styles.css');
@import url('/component/NavBar-Vertical/styles.css');


:root {
    --primary-color: #211c76 !important;
    --primary-light-color: #6662a8 !important;
    --primary-vlight-color: #DCEDFF !important;
    --secondary-color:#fE7A15 !important;
    --secondary-light-color: #ffdec5 !important;
    --black-color: #090C02;
    --black-matte-color: #28282B;
    --background-color: #f5f5f5 !important;
    --dark-gray-color: #b8b8b8 !important;
    --white-color: white;
    --delete-color: red;
    --font-family-content: 'Comfortaa';
    --font-family-logo: 'Yellowtail', cursive !important;
    --heading-weight: 500;
    --heading-size: 2.5rem;
    --sub-heading-weight: 300;
    --sub-heading-size: 2rem;
    --content-weight: 100;
    --content-size: 1.25rem;
    --section-content-size:1rem;
    --section-content-weight: 500 !important;
}


body{
    background-color: var(--background-color);
    position: relative;
        display: grid;
        grid-template-areas:
        "header header header"
        "nav  main main"
        "nav  main main"
        "footer footer footer";
        /* grid-template-rows: 50px 1fr 30px; */
        grid-template-columns: 200px 1fr;
}

.component-body{
    font-family: var(--font-family-content);
    grid-area: main;
    margin: 0rem 5rem;
    background-color: var(--white-color);
    padding: 2rem;
}

.component-heading{
    margin: 1rem 0rem;
    font-size: var(--heading-size);
    text-align: left;
    font-weight: var(--heading-weight);
}

.component-subheading{
    margin: 2rem 1rem;
    font-size: var(--sub-heading-size);
    text-align: left;
    font-weight: var(--sub-heading-weight);
}


.component-content{
    padding-top: 1rem;
    font-size: var(--content-size);
    font-weight: var(--content-weight);
}

.container{
    border: 5px solid var(--dark-gray-color);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.iframe-container{
    padding-top: 3rem;
}

.iframe{
    width: 50rem;
    height: 15rem;
    margin: 0 auto;
    transform: scale(1); 
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}