@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&family=Yellowtail&display=swap');
:root {
    --primary-color: #251F83 !important;
    --primary-light-color: #6662a8 !important;
    --primary-vlight-color: #DCEDFF !important;
    --secondary-color:#fE7A15 !important;
    --secondary-light-color: #ffdec5 !important;
    --black-color: #090C02;
    --black-matte-color: #28282B;
    --grey-color: #f5f5f5;
    --white-color: white;
    --font-family-content: 'Comfortaa';
    --font-family-logo: 'Yellowtail', cursive !important;
    --heading-weight: 500;
    --heading-size: 2.5rem;
    --sub-heading-weight: 300;
    --sub-heading-size: 2rem;
    --content-weight: 100;
    --content-size: 1.25rem;
    --section-content-size:1rem;
    --section-content-weight: 500 !important;
}


body{
    background-color: var(--grey-color);
        display: grid;
        grid-template-areas:
        "header header"
        "nav  main"
        "nav  foot";
grid-template-rows: 50px 1fr 30px;
grid-template-columns: 200px 1fr;
}